@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Poiret+One&display=swap');

:root {
    --color-destak: #730811;
    --color-black: #1B1B1B;
    --color-white: #ECECEC;
    --font-title: "Nanum Myeongjo",sans-serif;
    --font-body: "Nixie One", sans-serif;
}
header{
    height:52vh;
}

header::before {
    content: " ";
    /* background-color:rgb(233, 140, 140); */
    background-image: url(/assets/images/image\ 1.png);
    height: 42vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
    background-size: cover;
}

#secao-apresentacao {
    display: flex;
    padding: 2rem;
   /*1rem=16px;*/
   align-items: center;
}

#texto-apresentacao h2{
    font-size: 2.5rm;
    font-family:var(--font-title);
}
#secao-apresentacao img {
    border-radius:50%;

}

#texto-apresentacao p {

    font-size: 1.5rm;
    font-family:var(--font-body);
}

#texto-apresentacao {
    color: var(--color-destak);
}
h1{
    font-family:"Nanum Myeongjo",sans-serif;
    color: #CC8614;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 6
}

h2{
    font-family:"Poiret One",sans-serif;
    color: #c52230;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-weight: bold; 
    line-height: 3
}


body{
    background-color: #f0f0f0bd;
    text-align: center;
    font-family: "Nixie One", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh; 
}

ul {
        text-align: center;
}



footer{
    content: " ";
    background-image: url(../images/header_filtro.png);
    height: 50vh;
    width: 100vw;
    display: block;
    position: absolute;
    z-index: -10;
    background-size: cover;
    background-position: bottom;
}
